.DS_Store
#################
## npm
#################
npm-debug.log
/node_modules/**/node-modules/
node_modules/*/node_modules

node_modules/**/*.node
node_modules/**/*.o
node_modules/**/*.a
node_modules/**/*.mk
node_modules/**/*.gypi
node_modules/**/*.target
node_modules/**/.deps/
node_modules/**/build/Makefile
node_modules/**/**/build/Makefile
node_modules/**/*.cmd
node_modules/**/*.js
node_modules/**/*.yml
node_modules/**/*.npmignore
node_modules/**/*.md
node_modules/**/*.json
node_modules/**/*.txt
node_modules/**/*.patch
node_modules/**/*.jshintrc
node_modules/**/*.crt
node_modules/**/*.csr
node_modules/**/*.srl
node_modules/**/*.key
node_modules/**/*.key.org
node_modules/**/*.coffee
node_modules/**/*.html
node_modules/**/*.jscsrc
node_modules/**/LICENSE
node_modules/**/powershell
node_modules/**/fish
node_modules/**/zsh
node_modules/**/bash
node_modules/.bin/